.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.label {
  display: flex;
  flex-direction: column;
}

.form__btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #1290f7;
  color: #fff;
  transition-property: transform;
  transition-duration: 250ms;
}

.form__btn:hover {
  transform: scale(1.2);
}

.form__input {
  border-radius: 4px;
}
